/* 8.0 Flexbox & CSS */
:root {
  --clr-dark: #1f2020;
  --clr-light: #f1f5f9;
  --clr-accent: #d68c38;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--clr-dark);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
    color: var(--clr-light);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: 480px;
    border : 2px solid red;
}

.display {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    width: 250px;
    border: 2px solid grey
}

.interface {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 250px;
    /*height: 250px;*/
    border: 2px solid black;
}

.buttons {
    display: flex;
}

#digits {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border: 1px solid blue;
    width: 75%;
}

#digits button {
    width: 33%;
}

#operators {
    display: flex;
    flex-direction: column;
    width: 25%;
}

#operators button {
    flex: 1;
}

.bottom-row {
    display: flex;
    width: 250px;
}

.bottom-row button {
    flex: 1;
}
