/* 8.0 Flexbox & CSS */
:root {
  --clr-dark: #1f2020;
  --clr-lightdark: #343535;
  --clr-light: #f1f5f9;
  --clr-light2: #f3e3d5;
  --clr-accent: #d68c38;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace, sans-serif;
  background-color: var(--clr-light2);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
    color: var(--clr-dark);
    font-size: 48px;
    text-transform: uppercase;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    background-color: var(--clr-dark);
    border: 4px solid var(--clr-lightdark);
    border-radius: 10px;
}

.display {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 8px;
}

#calculator {
    color: #f1f5f9;
    font-size: 36px;
    font-weight: 700;
}

.interface {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 4px;
}

.buttons {
    display: flex;
    width: 100%;
    gap: 2px;
}

button {
    height: 60px;
    font-size: 1.5rem;
    color: #f1f5f9;
    border: 1px solid var(--clr-light2);
    border-radius: 8px;
    cursor: pointer;
}
/* 8.1 button press effect */
button.active {
    transform : scale(0.95);
    background-color: var(--clr-dark);
    box-shadow: 0 0 8px #fff;
}

#digits {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

#digits button {
    width: 33%;
    background-color: #343535;
}

#digits .large {
    flex-basis: 66%;
}

#operators {
    display: flex;
    flex-direction: column;
    width: 25%;
}

#operators button {
    flex: 1;
    background-color: #d68c38;
}

.bottom-row {
    display: flex;
    width: 100%;
}

.bottom-row button {
    flex: 1;
    background-color: #343535;
}

.bottom-row #equal {
    background-color: #d68c38;
}
