/* 8.0 Flexbox & CSS */
:root {
  --clr-dark: #1f2020;
  --clr-light: #f1f5f9;
  --clr-accent: #d68c38;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--clr-dark);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}